:root {
  --background: #10151c;
  --background-light: #141a25;
  --primary: #2663ff;
  --secondary: rgba(#ffffff, 10);
  --text: #7e8597;
  --white: rgba(255, 255, 255, 0.9);
  --border: #1f2530;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}
